<template name="layout">
	<a href="{{ pathFor 'library' }}"
     class="{{ isActiveRoute 'library' 'active-item' }}">
     Library
  </a>
	<a href="{{ pathFor 'orders' }}"
     class="{{ isActiveRoute 'orders' 'active-item' }}">
     Orders
  </a>
  {{#if currUser.isAdmin }}
  <a href="{{ pathFor 'all' }}"
     class="{{ isActiveRoute 'all' 'active-item' }}">
     All
  </a>
  {{/if}}

  {{currUser.isAdmin}}

  <button class="mrt-layout__logout">Log Out</button>

	<div>
		{{> yield}}

    <ul>
    {{#each categories}}
      {{> category_option}}
    {{/each}}
    </ul>


    <hr />
    <form class="mrt_categories-form">
      <input type="text" placeholder="name" required> <br />
      <select>
        <option value="-1">Parent category</option>
        {{#each categories}}
          <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
      </select> <br />
      <button type="submit">Submit</button>
    </form>
    <hr />
	</div>
</template>


<template name="category_option">
  <li>
    {{ name }}
    <ul>
      {{#each children}}
        {{> category_option}}
      {{/each}}
    </ul>
  </li>
</template>
