<template name="layout">
  <div id="add-order-modal" class="modal fade">
    <div class="modal-dialog">
      <form class="modal-content add-order-form mrt__add-order-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Add Order</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   name="title"
                   placeholder="Title"
                   required />
          </div>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   name="author"
                   placeholder="Author"
                   required />
          </div>
          <div class="form-group">
            <input type="url"
                   class="form-control"
                   name="url"
                   placeholder="Book url"
                   required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Add order</button>
        </div>
      </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div> <!-- #add-order-modal -->

	<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">10Books</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{ isActiveRoute 'library' }}">
            <a href="{{ pathFor 'library' }}">Library</a>
          </li>
          <li class="{{ isActiveRoute 'orders' }}">
            <a href="{{ pathFor 'orders' }}">Orders</a>
          </li>
          {{#if currUser.isAdmin }}
          <li class="{{ isActiveRoute 'all' }}">
            <a href="{{ pathFor 'all' }}">All</a>
          </li>
          {{/if}}
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="mrt-layout__logout">Logout</a></li>
        </ul>
      </div>

    </div>
  </nav>



  <div class="container-fluid">

    <div class="clearfix">
      <div class="pull-right">
        <div class="btn btn-success mrt__order-book"
             data-toggle="modal"
             data-target="#add-order-modal">
          Oder Book
        </div>
      </div>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th class="text-center">Author</th>
          <th class="text-center">Category</th>
          <th class="text-center">Status</th>
          <th class="text-center">Debug shit</th>
        </tr>
      </thead>
      <tbody>
      {{#each books}}
      <tr class="book-row" data-book-id="{{ _id }}">
        <td>{{ name }}</td>
        <td class="text-center">{{ author}}</td>
        <td class="text-center">CATEGORY</td>
        <td class="text-center">
          {{#if currUser.isAdmin}}
          <div class="btn-group text-left">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{ currentBookStatus status}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right mrt__status-change" role="menu">
              {{#each bookStatuses}}
                <li>
                  <a href="#"
                     data-status-key="{{ key }}"
                     data-book-id="{{ ../_id }}">
                    {{ caption }}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </td>
        <td class="text-center">
          {{#if taken_by}}
            {{#if $neq taken_by currUser.id}}
              {{#with userById taken_by }}
                Taken by <b>{{ name }}</b> <br />
              {{/with}}

              {{#if isUserSubscribedToBook currUser.id }}
                <div class="btn btn-primary mrt__nofify-me">Notify when returned</div>
              {{else}}
                <div class="btn btn-primary mrt__nofify-me">Notify when returned</div>
              {{/if}}

            {{/if}}

            {{#if $eq taken_by currUser.id}}
              <div class="btn btn-warning mrt__return-book">Return book</div>
            {{/if}}
          {{else}}
            <div class="btn btn-default mrt__take-book">Take Book</div>
          {{/if}}
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>



  <div>
    user id bro - {{ currUser.id }}
  </div>

  <button class="btn btn-primary mrt-layout__logout">Log Out</button>

  <div>
    Book Statuses
    <select>
      {{#each bookStatuses}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

	<div>
		{{> yield}}

    <ul>
    {{#each categories}}
      {{> category_option}}
    {{/each}}
    </ul>


    <hr />
    <form class="mrt_categories-form">
      <input type="text" placeholder="name" required> <br />
      <select>
        <option value="-1">Parent category</option>
        {{#each categories}}
          <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
      </select> <br />
      <button type="submit">Submit</button>
    </form>
    <hr />
	</div>
</template>


<template name="category_option">
  <li>
    {{ name }}
    <ul>
      {{#each children}}
        {{> category_option}}
      {{/each}}
    </ul>
  </li>
</template>
